h1, h2, h3, h4, h5, h6, ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
    color: #666;
    font-size: 100%;
}
body{
    background-color: #F1F2ED !important;
    color:#666;
    font: 14px/150% "Franklin-Book", Helvetica, Arial, "冬青黑体", "Hiragino Sans GB", "microsoft yahei", "SimHei", sans-serif;
    margin:0;
}
em,i{
    font-style:normal;
}
a{text-decoration:none !important;}
/* 购物车部分 */
.maxIn{
    max-width:100%;
    width: 1440px;
    margin:0 auto;
    margin-top: 40px;
    height:auto;
}
.maxIn>.cart>.cart_title{
    text-align: center;
}
.maxIn>.cart>.cart_title>h1{
    font-size: 30px;
    font-weight: bold;
    color:#2b2b2b;
    vertical-align: middle;
}
.maxIn>.cart>.cart_steps{
    padding:10px 0 70px 0;
    margin:0;
    background: url(/image/bw.png) left 10px no-repeat;
    background-repeat: repeat-x;
    position: relative;
    box-sizing:content-box;
    height:60px;
}
.maxIn>.cart>.cart_steps>ul{
    width:975px;
    margin:0 auto;
    position: relative;
    box-sizing:content-box;
    display: block;
}
.maxIn>.cart>.cart_steps>ul>li{
    float: left;
    padding:18px 0 12px 0;
    color:#d2d2d2;
    font-weight: bold;
    height:30px;
    box-sizing:content-box;
}
.maxIn>.cart>.cart_steps>ul>li:nth-child(1){
    color:#c8192e;
}
.maxIn>.cart>.cart_steps>ul>li>span{
    position: relative;
    padding:0 10px;
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display:block;
    height:100%;
    line-height:30px;
}

.maxIn>.cart>.cart_steps>ul>li>span>i{
    padding-right:10px;
}
.maxIn>.cart>.cart_steps>ul>li>s{
    width:16px;
    height:16px;
    border-radius: 16px;
    display: block;
    position: absolute;
    background-color: #d7d8d4;
    left:50%;
    bottom: -38px;
    margin-left: -8px;
    z-index:2;
}
.maxIn>.cart>.cart_steps>ul>li.active>s{
    width:25px;
    height:25px;
    background:#f1f2ed url(/image/step-active.svg) no-repeat center center;
    background-size: 25px;
    bottom:-42px;
    margin-left: -13px;
}
.maxIn>.cart>.cart_steps>.x{
    position: absolute;
    left:0;
    right:0;
    bottom:39px;
    border-bottom: 2px solid #d7d8d4;
}
/* 购物车中部 */
/* table{
    table-layout:fixed;
} */
/* table,thead,tr{
    width: 100% !important;
    margin: 0;
    padding:0;
    
    
} */

/* thead{
    line-height: 44px;
    word-wrap: break-word; 
} */
.parent_head,.parent_body>.body_main>.parent_body_main,.parent_body>.body_foot{
    border-bottom: 1px solid #d7d8d4;
}
.parent_head,.parent_body{
    /* width:100% !important; */
    margin:0 auto;
    height: auto;
    font-size:18px;
    font-weight: bold;
    color: #666;
    flex-wrap: nowrap;
}
.parent_head>span,.parent_body>.body_main>div>span{
    margin:0;
    vertical-align: middle;
    /* padding:1px; */
    text-align: center;
    line-height: 44px;
    height:44px;
    display:inline-block;
    position: relative;
}
.parent_head>span:nth-child(2){
    box-sizing: content-box;
    text-align: left;
}

/* span.check{
    vertical-align: middle !important;
    margin: 0 auto;
} */
span>label{
    background: url(/image/checkbox-acitve.svg) no-repeat 5px center;
    background-size:16px 16px;
    padding-left:10px;
    cursor: pointer;
    /* text-align: center; */
    /* position: relative; */
    display: inline-block;
    margin: 0 auto;
    /* height:100%; */
}
label>input{
    opacity: 0;
    width:20px;
    height:20px;
    line-height: 44px;
}
.parent_body>.body_main>.parent_body_main{
    height:auto;
    font-size:16px;
    vertical-align: middle;
}
.parent_body>.body_main>.parent_body_main>span{
    padding:20px 0;
    font-weight: bold;
    display: inline-block;
    height:100px;
    vertical-align: middle;
    box-sizing: content-box;
    line-height:100px;
}
.parent_body>.body_main>div>span:nth-child(3){
    text-align: left;

}
.parent_body>.body_main>div>span>div{
    width:100%;
}
.parent_body>.body_main>div>span:nth-child(3)>div{
    line-height:20px;
    letter-spacing: 2px;
    vertical-align:middle;
    
}
.parent_body>.body_main>div>span:nth-child(3)>div:nth-child(1){
    padding-top: 15px;
}
.parent_body>.body_main>div>span:nth-child(3)>div:nth-child(2){
    margin-top:5px;
    margin-bottom: 6px;
}
.parent_body>.body_main>div>span:nth-child(3)>div:nth-child(3){
    padding-bottom: 15px;
}
.parent_body>.body_main>div>span:nth-child(3)>div a{
    color:#589BC6;
}
.parent_body>.body_main>div>span:nth-child(3)>div a:hover {
    color: #c8192e;
}
.parent_body img{
    max-width:100px;
    max-height:100px;
}
.parent_body>.body_main>div>span:nth-child(4)>span{
    display: inline-block;
    width:100%;
    line-height:100%;
}
.parent_body>.body_main>div>span:nth-child(4)>span>a{
    width:20px;
}
.parent_body>.body_main>div>span:nth-child(4)>span>input{
    width:58px;
    height:21px;
    padding:3px 0;
    box-sizing: content-box;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    background: transparent;
    border:1px solid #d7d8d4;
}
.parent_body>.body_main>div>span:nth-child(7){
    color: #c8192e;
}
.parent_body>.body_main>div>span:last-child>a{
    font-size: 18px;
    color: #589BC6;
    display: inline-block;
    flex-wrap: nowrap;
    height:20px !important;
    line-height:20px !important;
    vertical-align: middle;
}
.parent_body>.body_main>div>span:last-child>a:hover{
    color:#c8192e;
}
.parent_body>.body_main>div>span:last-child>i{
    padding:0 3px;
    color: #589BC6;
}
.parent_body>.body_foot{
    height:100px;
}
.parent_body>.body_foot>span{
    height:100%;
    display:inline-block;
    /* float:left; */
    margin:0;
    padding:0;
}
.parent_body>.body_foot>span.body_foot_right{
    padding-top:15px;
    padding-bottom: 10px;
}
.parent_body>.body_foot>span.body_foot_right>ul>li{
    text-align: right;
}
.parent_body>.body_foot>span.body_foot_right>ul>li:nth-child(1){
    line-height: 26px;
    font-size:18px;
}
.parent_body>.body_foot>span.body_foot_right>ul>li:nth-child(2){
    line-height: 46px;
    font-size:24px;
}
.parent_body>.body_foot>span.body_foot_right>ul>li>span:nth-child(1){
    width:200px;
    display: inline-block;
    text-align: right;
    
}
.parent_body>.body_foot>span.body_foot_right>ul>li>span:nth-child(2){
    width:150px;
    padding-left:15px;
    box-sizing: content-box;
    display: inline-block;
    text-align: left;
    color:#C9192E;
}

/* 底部 */
.parent_foot{
    height:46px;
}
.parent_foot>span{
    height:100%;
    display:inline-block;
    margin:0;
    padding:0;
    float:left;
    height:100%
}
.parent_foot>span{
    background:#000;
}
.parent_foot>span:nth-child(2)>a,.parent_foot>span:nth-child(2)>button{
    height:100%;
    float: right;
    color:#fff;
    font-weight: bold;
    font-size: 18px;
}
.parent_foot>span:nth-child(2)>a{
    margin-right: 20px;
    font-size: 16px;
    vertical-align: middle;
    line-height: 46px;
}
.parent_foot>span:nth-child(2)>button{
    background-color:#c8192e;
    outline:none;
    border:none;
    cursor: pointer;
}











































































































































































































































































































































































































































































